*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --clr-primary-1: hsl(0, 100%, 74%);
  --clr-primary-2: hsl(154, 59%, 51%);

  --clr-accent: hsl(248, 32%, 49%);

  --clr-neutral-1: hsl(249, 10%, 26%);
  --clr-neutral-2: hsl(246, 25%, 77%);
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: url(../images/bg-intro-mobile.png);
  background-color: var(--clr-primary-1);
}

main {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 4em 1em;
  text-align: center;
  color: white;
  text-align: center;
}

.form-header {
  background-color: var(--clr-accent);
  padding: 1em 2em;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-top: 3em;
  box-shadow: 0 5px 2px rgb(0 0 0 / 0.2);
}

.form-header p {
  max-width: 80%;
  margin: 0 auto;
}

form {
  border-radius: 10px;
  padding: 1em;
  background-color: white;
  box-shadow: 0 10px 2px rgb(0 0 0 / 0.2);
}

input {
  font-family: inherit;
  font-weight: 600;
  color: var(--clr-neutral-1);
  width: 90%;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  border: 1px solid var(--clr-neutral-2);
}

input + span {
  position: relative;
  right: 2em;
}

input + span::before {
  position: absolute;
  top: -4em;
  right: 2em;
}

input::placeholder {
  font-weight: 600;
  color: var(--clr-neutral-1);
}

input:invalid.touched {
  border: 2px solid var(--clr-primary-1);
  color: var(--clr-primary-1);
}

input:invalid.touched + span::before {
  content: url("../images/icon-error.svg");
}

.error {
  display: block;
  text-align: right;
  font-size: 0.7rem;
  color: var(--clr-primary-1);
  margin-bottom: 1em;
  font-style: italic;
}

button {
  font-family: inherit;
  background-color: var(--clr-primary-2);
  color: white;
  border: none;
  padding: 1em;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.5;
}

aside p {
  color: var(--clr-neutral-2);
  font-size: 0.75rem;
}

aside a {
  color: var(--clr-primary-1);
  text-decoration: none;
  font-weight: 700;
}

.attribution a {
  color: var(--clr-accent);
}

@media (min-width: 1440px) {
  main {
    display: flex;
    max-width: 1240px;
  }
  article {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 4em;
  }
  article h1 {
    font-size: 3rem;
    max-width: 20ch;
    line-height: 1.1;
    margin-bottom: 0.5em;
  }
  .form-wrapper {
    flex-basis: 100%;
  }
  input + span {
    right: 3em;
  }
  input + span::before {
    top: -4em;
  }
  button {
    width: 90%;
    letter-spacing: 1px;
  }
}
